@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using AceAttitude.Data.Models
@model Lecture
<body>
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Title: @Model.Title</h5>
            <p class="card-text">@Model.Description</p>
            <p class="card-text"><small class="text-body-secondary">Assignment: @Model.TextFilePath</small></p>
            <p class="card-text"><small class="text-body-secondary">Video: @Model.VideoFilePath</small></p>
        </div>
    </div>
</body>
