@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>After Party Support - About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="container body-content">
        <p>
            Welcome to the About page of our Virtual Teacher app! 
            Here, you can learn more about our mission, vision, 
            and the team behind the development of this innovative platform. 
            Discover how we aim to revolutionize online education by providing interactive English courses 
            tailored to the needs of students and teachers alike. 
            Get insights into our commitment to quality, accessibility, 
            and continuous improvement as we strive to make learning English a seamless and enriching experience for all.
        </p>
    </div>

</body>

</html>