@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using AceAttitude.Data.Models
@model List<string>

@{
    string gamePicturePath = "~/images/WordSearches/do-you-speak-it.jpg";
}

<style>
    /* Custom styles for button names */
    .button-name {
        font-size: 18px;
        font-weight: bold;
        color: #333; /* Change to your desired color */
        /* Add any other custom styles as needed */
    }
</style>

<body>
    <div class="row row-cols-1 row-cols-md-2">
        @for (int i = 1; i <= Model.Count; i++)
        {
            if (i < 7)
            {
                gamePicturePath = "~/images/WordSearches/" + i.ToString() + ".jpg";   
            }
            else
            {
                gamePicturePath = "~/images/WordSearches/do-you-speak-it.jpg";
            }

            <div class="col">
                <a asp-controller="Games" asp-action="SolveWordSearch" asp-route-title="@Model[i-1]" class="card-link">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="@Url.Content(gamePicturePath)" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body d-flex align-items-center">
                                    <h5 class="card-title text-center button-name">@Model[i-1].ToUpper()</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</body>
